body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: 'optiedgar';
  src: local('optiedgar'), url(./fonts/OPTIEdgar-Extended.otf) format('truetype');
}

.bg-img {
  background-image: url("./img/wp1863739.jpg");
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}

#videobg {
  position:fixed;
  min-width: 100%;
  min-height: 100%;
  margin: auto;
}

.topleft {
	top: 33px;
	left: 35px;
	position: fixed;

}

.topcenter {
	top: 10px;
	left: 40%;
	position: fixed;
}

.center {
	top: 35%;
	left: 9%;
	position: fixed;
}

.topright {
	top: 33px;
	right: 35px;
	position: fixed;
}


.middleleft {
	top: 50%;
	left: 35px;
	position: fixed;
}

.bottomleft {
	bottom: 33px;
    left: 35px;
	position: fixed;
}
.bottomright {
	bottom: 33px;
	right: 35px;
	position: fixed;
}

.content {
  	padding: 20px;
	font-weight: 700;
    font-family: optiedgar,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    color: white;
  	min-width: 100%;
  	min-height: 100%;
  	z-index: 50;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #f890e7
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #f890e7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #0bd3d3;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
	color: 	#f890e7;
	font-size: 40px;
	display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
